on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        template:
        - minimal
        python:
        - "3.7"
        - "3.8"
        - "3.9"
    env:
      PYTHON_VERSION: ${{ matrix.python }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2.1.4
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt
    - name: Test ${{ matrix.template }} cookiecutter template
      working-directory: ${{ matrix.template }}
      run: ./scripts/test.sh
